@model SAS.Models.Student_course

@{
    ViewData["Title"] = "Edit";
}

<div class="content-header" style="padding-left:250px; color:black;padding-bottom: 40px;padding-top: 10px;">
</div>

<div class="mainbody" style="padding-left:250px;">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Stud_course_id" />
            <div class="form-group">
                <label asp-for="Stud_id" class="control-label"></label>
                <select asp-for="Stud_id" class="form-control" asp-items="ViewBag.Stud_id"></select>
                <span asp-validation-for="Stud_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course_id" class="control-label"></label>
                <select asp-for="Course_id" class="form-control" asp-items="ViewBag.Course_id"></select>
                <span asp-validation-for="Course_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Academic_y_id" class="control-label"></label>
                <select asp-for="Academic_y_id" class="form-control" asp-items="ViewBag.Academic_y_id"></select>
                <span asp-validation-for="Academic_y_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department_id" class="control-label"></label>
                <select asp-for="Department_id" class="form-control" asp-items="ViewBag.Department_id"></select>
                <span asp-validation-for="Department_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faculity_id" class="control-label"></label>
                <select asp-for="Faculity_id" class="form-control" asp-items="ViewBag.Faculity_id"></select>
                <span asp-validation-for="Faculity_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester_id" class="control-label"></label>
                <select asp-for="Semester_id" class="form-control" asp-items="ViewBag.Semester_id"></select>
                <span asp-validation-for="Semester_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year_id" class="control-label"></label>
                <select asp-for="Year_id" class="form-control" asp-items="ViewBag.Year_id"></select>
                <span asp-validation-for="Year_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance_time" class="control-label"></label>
                <input asp-for="Attendance_time" class="form-control" />
                <span asp-validation-for="Attendance_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
