@model SAS.Models.Attendance

@{
    ViewData["Title"] = "Edit";
}

<div class="content-header" style="padding-left:250px; color:black;padding-bottom: 40px;padding-top: 10px;">
</div>

<div class="mainbody" style="padding-left:250px;">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Attendance_id" />
                <div class="form-group col-6">
                <label asp-for="Stud_id" class="control-label"></label>
                <select asp-for="Stud_id" class="form-control" asp-items="ViewBag.Stud_id"></select>
                <span asp-validation-for="Stud_id" class="text-danger"></span>
            </div>
                <div class="form-group col-6">
                <label asp-for="Academic_y_id" class="control-label"></label>
                <select asp-for="Academic_y_id" class="form-control" asp-items="ViewBag.Academic_y_id"></select>
                <span asp-validation-for="Academic_y_id" class="text-danger"></span>
            </div>
                <div class="form-group col-6">
                <label asp-for="Department_id" class="control-label"></label>
                <select asp-for="Department_id" class="form-control" asp-items="ViewBag.Department_id"></select>
                <span asp-validation-for="Department_id" class="text-danger"></span>
            </div>
                <div class="form-group col-6">
                <label asp-for="Enrollment_id" class="control-label"></label>
                <select asp-for="Enrollment_id" class="form-control" asp-items="ViewBag.Enrollment_id"></select>
                <span asp-validation-for="Enrollment_id" class="text-danger"></span>
            </div>
                <div class="form-group col-6">
                <label asp-for="Faculity_id" class="control-label"></label>
                <select asp-for="Faculity_id" class="form-control" asp-items="ViewBag.Faculity_id"></select>
                <span asp-validation-for="Faculity_id" class="text-danger"></span>
            </div>
                <div class="form-group col-6">
                <label asp-for="Semister_id" class="control-label"></label>
                <select asp-for="Semister_id" class="form-control" asp-items="ViewBag.Semister_id"></select>
                <span asp-validation-for="Semister_id" class="text-danger"></span>
            </div>
                <div class="form-group col-6">
                <label asp-for="Attendance_date" class="control-label"></label>
                <input asp-for="Attendance_date" class="form-control" />
                <span asp-validation-for="Attendance_date" class="text-danger"></span>
            </div>
                <div class="form-group col-6">
                <label asp-for="Attendance_time" class="control-label"></label>
                <input asp-for="Attendance_time" class="form-control" />
                <span asp-validation-for="Attendance_time" class="text-danger"></span>
            </div>
                <div class="form-group col-6">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
                <div class="form-group col-6">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
